@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot?q0j52l);
    src: url(../fonts/icomoon.eot?q0j52l#iefix) format('embedded-opentype'),url(../fonts/icomoon.ttf?q0j52l) format('truetype'),url(../fonts/icomoon.woff?q0j52l) format('woff'),url(../fonts/icomoon.svg?q0j52l#icomoon) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class^=icon-], [class*=" icon-"] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-hotel:before {
    content: "\e900"
}

.icon-double-angle-pointing-to-right:before {
    content: "\e901"
}

.icon-long-arrow-pointing-to-the-right:before {
    content: "\e902"
}

.icon-long-arrow-pointing-to-left:before {
    content: "\e903"
}

.icon-speak:before {
    content: "\e904"
}

.icon-collaboration:before {
    content: "\e905"
}

.icon-dish:before {
    content: "\e906"
}

.icon-confetti:before {
    content: "\e907"
}

.icon-play-button:before {
    content: "\e908"
}

.icon-address:before {
    content: "\e909"
}

.icon-car:before {
    content: "\e90a"
}
