

a {
    color: #fdc300;
}

.section-title {
    margin-bottom: 90px
}

    .section-title h2 {
        margin-top: -5px
    }

    .section-title .sec-left {
        padding-left: 30px;
        position: relative;
        padding-bottom: 2px;
        margin-bottom: 50px
    }

        .section-title .sec-left:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 70px;
            height: 5px;
            content: "";
            background-color: #fdc300
        }

.more-btn-wrap {
    margin-top: 30px
}

.hero-section {
    min-height: 800px;
    background-color: #f6f8fa;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    z-index: 99
}

    .hero-section .container {
        position: relative;
        z-index: 99
    }

    .hero-section:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #231769;
        opacity: .65;
        z-index: 1
    }

.hero-text {
    margin-right: 20px;
    margin-bottom: 75px
}


    .hero-text .ter-left {
        width: 130px;
        height: 10px;
        background-color: #fdc300;
        margin-bottom: 30px;
        margin-top:-10px;

}

.time-countdown ul {
    margin: 36px auto
}

    .time-countdown ul li {
        width: 20.7%;
        margin-right: 4%;
        text-align: center;
        display: inline-block;
        padding: 24px 20px;
        color: #fff
    }

        .time-countdown ul li.count-bg-one {
            background: rgba(255,51,181,.55)
        }

        .time-countdown ul li.count-bg-two {
            background: rgba(51,142,255,.55)
        }

        .time-countdown ul li.count-bg-three {
            background: rgba(255,150,86,.55)
        }

        .time-countdown ul li.count-bg-four {
            background: rgba(255,109,86,.55);
            margin-right: 0
        }

        .time-countdown ul li span {
            color: #fff;
            font-family: poppins,sans-serif;
            font-size: 50px;
            line-height: 60px;
            font-weight: 700;
            display: block
        }

.register-wrap {
    padding: 25px 30px 30px;
    background: #2a1e70;
    margin-left: 17px;
    margin-top: 25px
}

    .register-wrap h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 18px
    }

    .register-wrap .form-group {
        margin-bottom: 20px
    }

.ticket-number-box .nice-select {
    width: 100%;
    border: none;
    height: 62px;
    line-height: 62px;
    background: #362a80
}

    .ticket-number-box .nice-select li {
        color: #fff
    }

    .ticket-number-box .nice-select::placeholder {
        opacity: .6
    }

    .ticket-number-box .nice-select:after {
        position: absolute;
        content: "";
        right: 20px;
        top: 28px;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 7px;
        border-right-width: 7px;
        border-top: 13px solid rgba(255,255,255,.6);
        transition: .5s;
        transform: rotate(0deg)
    }

    .ticket-number-box .nice-select .list {
        width: 100%;
        background: #362a80
    }

    .ticket-number-box .nice-select .option:hover, .ticket-number-box .nice-select .option.focus, .ticket-number-box .nice-select .option.selected.focus {
        background-color: #231769
    }

.why-join-content-wrap {
    margin-right: 80px
}

.why-join-content {
    margin-bottom: 55px
}

    .why-join-content h2 {
        margin-bottom: 50px
    }

.feature-block-one {
    margin-bottom: 40px
}

    .feature-block-one h3 {
        font-size: 24px;
        margin-bottom: 5px
    }

.feature-icon i {
    background: rgba(236,57,139,.1);
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    transition: .5s;
    text-align: center;
    border-radius: 50%;
    color: #fdc300
}

.single-speaker {
    padding: 30px;
    padding-top: 125px;
    margin-top: 95px;
    transition: .5s;
    text-align: center;
    margin-bottom: 30px;
    background: #2a1e70;
    position: relative
}

    .single-speaker:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: #fdc300;
        opacity: 0
    }

    .single-speaker:hover:after {
        opacity: 1;
        transition: .6s;
        height: 5px
    }

.speaker-thumb {
    position: absolute;
    display: inline-block;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    left: 50%;
    top: -95px;
    transform: translate(-50%)
}

    .speaker-thumb img {
        border-radius: 50%
    }

.speaker-data h6 {
    margin-bottom: 10px
}

.speaker-data .social-style-one {
    margin-top: 5px
}

    .speaker-data .social-style-one a {
        margin: 0 5px
    }

.vedio-inner {
    position: relative
}

    .vedio-inner img {
        border-radius: 5px
    }

    .vedio-inner:after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(42,30,112,.69);
        opacity: .67;
        z-index: 1
    }

.vedio-button {
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 2
}

.vedio-inner .vedio-play {
    position: relative;
    display: inline-block;
    z-index: 9;
    transition: .5s
}

    .vedio-inner .vedio-play .icon {
        height: 124px;
        width: 124px;
        line-height: 124px;
        background-color: #fdc300;
        font-size: 60px;
        position: relative;
        display: inline-block;
        text-align: center;
        padding-left: 5px;
        color: #fff;
        z-index: 1;
        border-radius: 50%;
        box-shadow: 0 0 10px 0 rgba(236,57,139,.44)
    }

.vedio-play .ripple, .vedio-play .ripple:before, .vedio-play .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(236,57,139,.8);
    -moz-box-shadow: 0 0 0 0 rgba(236,57,139,.8);
    -ms-box-shadow: 0 0 0 0 rgba(236,57,139,.8);
    -o-box-shadow: 0 0 0 0 rgba(236,57,139,.8);
    box-shadow: 0 0 0 0 rgba(236,57,139,.8);
    -webkit-animation: ripple 3s infinite;
    -moz-animation: ripple 3s infinite;
    -ms-animation: ripple 3s infinite;
    -o-animation: ripple 3s infinite;
    animation: ripple 3s infinite
}

    .vedio-play .ripple:before {
        -webkit-animation-delay: .9s;
        -moz-animation-delay: .9s;
        -ms-animation-delay: .9s;
        -o-animation-delay: .9s;
        animation-delay: .9s;
        content: "";
        position: absolute
    }

    .vedio-play .ripple:after {
        -webkit-animation-delay: .6s;
        -moz-animation-delay: .6s;
        -ms-animation-delay: .6s;
        -o-animation-delay: .6s;
        animation-delay: .6s;
        content: "";
        position: absolute
    }

@-webkit-keyframes ripple {
    70% {
        box-shadow: 0 0 0 70px transparent
    }

    100% {
        box-shadow: 0 0 0 0 transparent
    }
}

@keyframes ripple {
    70% {
        box-shadow: 0 0 0 70px transparent
    }

    100% {
        box-shadow: 0 0 0 0 transparent
    }
}

.schdule-tab-btn {
    margin-bottom: 60px;
    border-bottom: 0
}

    .schdule-tab-btn .nav-link {
        background: #2a1e70;
        color: #fff;
        margin-right: 15px;
        border-radius: 0;
        padding: 7px;
        position: relative;
        min-width: 105px;
        text-align: center
    }

        .schdule-tab-btn .nav-link:hover {
            border-color: transparent
        }

        .schdule-tab-btn .nav-link.active {
            background: #fdc300;
            border-color: #fdc300;
            color: #fff
        }

            .schdule-tab-btn .nav-link.active:after {
                position: absolute;
                content: "";
                left: -2px;
                bottom: -10px;
                width: 0;
                height: 0;
                border: 0 solid transparent;
                border-left-width: 12px;
                border-right-width: 0;
                border-top: 10px solid #fdc300
            }

.single-schedule-item {
    margin-top: 30px;
    margin-right: 15px
}

.schedule-short-content {
    margin-left: -70px;
    padding: 30px 30px 0
}

    .schedule-short-content h5 {
        position: relative;
      /*  cursor: pointer*/
    }

/*        .schedule-short-content h5:after {
            position: absolute;
            content: "";
            right: 0;
            top: 6px;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-left-width: 8px;
            border-right-width: 8px;
            border-top: 15px solid rgba(255,255,255,.6);
            transition: .5s
        }

        .schedule-short-content h5[aria-expanded=true]:after {
            transform: rotate(180deg)
        }

        .schedule-short-content h5[aria-expanded=false]:after {
            transform: rotate(0deg)
        }*/

.schedule-speaker-member {
    padding: 30px
}

.schedule-speaker-thumb {
    margin-right: 30px;
    border-radius: 50%
}

    .schedule-speaker-thumb img {
        border-radius: 50%
    }

.schedule-speaker-deg h6 {
    margin-bottom: 0
}

.schedule-date-wrap {
    border-radius: 0 4px 4px 0;
    border: 5px solid #2a1e70;
}
}

.schedule-speaker-date {
    padding: 15px
}

    .schedule-speaker-date .date {
        display: block;
        text-align: center;
        font-family: poppins,sans-serif;
        font-weight: 600;
        color: #fdc300;
        margin-bottom: 10px
    }

    .schedule-speaker-date .time {
        display: block;
        text-align: center
    }

.schedule-content {
    position: relative;
    padding: 30px;
    border-top: 15px solid #231769
}

    .schedule-content p {
        margin-bottom: 0
    }

    .schedule-content:after {
        position: absolute;
        content: "";
        right: 185px;
        top: -15px;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 8px;
        border-right-width: 8px;
        border-top: 15px solid #362a80;
        transition: .5s;
        transform: rotate(180deg)
    }

.pricing-block {
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative
}

    .pricing-block:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: #fdc300;
        opacity: 0;
        border-radius: 0 0 5px 5px
    }

    .pricing-block:hover:after {
        opacity: 1;
        height: 5px;
        transition: .6s
    }

    .pricing-block.active {
        border-radius: 0 0 5px 5px
    }

        .pricing-block.active:before {
            position: absolute;
            left: 0;
            top: -20px;
            width: 100%;
            height: 20px;
            content: "";
            background: #fdc300;
            opacity: 1;
            border-radius: 5px 5px 0 0
        }

        .pricing-block.active:after {
            height: 5px;
            opacity: 1
        }

    .pricing-block .inner-box {
        padding: 50px 15px;
        text-align: center
    }

    .pricing-block h5 {
        position: relative;
        margin-bottom: 15px
    }

    .pricing-block .price {
        font-size: 65px;
        color: #fdc300;
        position: relative;
        display: inline-block
    }

        .pricing-block .price span {
            position: absolute;
            left: -18px;
            top: 11px;
            font-size: 25px
        }

    .pricing-block .facility {
        margin-bottom: 40px
    }

        .pricing-block .facility span {
            display: block
        }

    .pricing-block .btn-bg {
        background-color: transparent;
        border: 1px solid #fdc300
    }

        .pricing-block .btn-bg:hover {
            background-color: #deab00;
            border: 1px solid #deab00
        }

    .pricing-block.active .btn-bg {
        background-color: #deab00
    }

.logo-wrap {
    margin: -40px -45px
}

    .logo-wrap a {
        display: inline-block;
        position: relative;
        margin: 40px 45px;
        width: auto;

    }

        .logo-wrap a img:first-child {
            -webkit-transition: 1.0s;
            -o-transition: 1.0s;
            transition: 1.0s
        }

        .logo-wrap a:hover img:first-child {
            opacity: 0;
            top: 0;
            visibility: visible
        }

        .logo-wrap a img:last-child {
            position: absolute;
            top: 15px;
            left: 0;
            margin: 0 auto;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s
        }

        .logo-wrap a:hover img:last-child {
            opacity: 1;
            top: 0;
            visibility: visible
        }

.contact-text {
    margin-bottom: 45px;
    margin-right: 80px
}

.contact-info {
    margin-bottom: 27px
}

    .contact-info i {
        color: #fdc300;
        float: left;
        margin-top: 7px
    }

    .contact-info span {
        margin-left: 20px;
        display: inline-block
    }

.map-site {
    width: 100%;
    height: 100%;
    min-height: 350px
}

    .map-site iframe {
        width: 100%;
        height: 100%;
        border-radius: 5px
    }

.single-news-block {
    position: relative
}

    .single-news-block:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: #fdc300;
        opacity: 0
    }

    .single-news-block:hover:after {
        opacity: 1;
        height: 5px;
        transition: .6s
    }

    .single-news-block .blog-thumb {
        position: relative
    }

        .single-news-block .blog-thumb img {
            border-radius: 5px 5px 0 0
        }

        .single-news-block .blog-thumb:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: .4;
            z-index: 1
        }

    .single-news-block .news-inner {
        padding: 25px 25px 1px
    }

    .single-news-block .post-date {
        color: #fdc300;
        margin-bottom: 10px;
        display: inline-block;
        font-size: 16px
    }

.blog-post-thumb, .post-details-image2 {
    position: relative
}

    .blog-post-thumb:before, .post-details-image2:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #231769;
        opacity: .4;
        z-index: 1
    }

    .blog-post-thumb img, .post-details-image2 img {
        border-radius: 5px
    }

.get-ticket-section {
    min-height: 624px;
    background-color: #f6f8fa;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    z-index: 99
}

    .get-ticket-section .container {
        position: relative;
        z-index: 99
    }

    .get-ticket-section:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #362a80;
        opacity: .67;
        z-index: 1
    }

.get-ticket-wrap {
    color: #fff
}

.subscribe-wrap {
    height: 373px;
    transform: translate(0,-50%);
    margin-bottom: -85px;
    z-index: 99;
    position: relative
}

    .subscribe-wrap h3 {
        margin-bottom: 25px
    }

.subscribe-form {
    position: relative;
    max-width: 735px;
    margin: 0 auto
}

    .subscribe-form input {
        border-radius: 4px;
        padding: 16px 30px;
        color: #555;
        width: 100%;
        color: #fff;
        background: rgba(255,255,255,.16)
    }

        .subscribe-form input::placeholder {
            color: #fff
        }

    .subscribe-form button {
        border-radius: 0 4px 4px 0;
        padding: 10px 20px;
        width: 235px;
        font-size: 16px;
        font-family: poppins,sans-serif;
        background: #fdc300;
        color: #fff;
        text-align: center;
        cursor: pointer;
        margin-top: 30px
    }

        .subscribe-form button:hover {
            background: #fdc300;
            color: #fff
        }

.footer-logo {
    margin-bottom: 35px
}

.footer-bottom {
    border-top: 1px solid #b4b3c5
}

.copyright a {
    color: #b4b3c5
}

.footer-menu li {
    display: inline-block;
    margin: 0 15px
}

    .footer-menu li:last-child {
        margin-right: 0
    }

    .footer-menu li a {
        color: #b4b3c5
    }

.banner-section {
    height: 450px;
    position: relative;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center
}

    .banner-section:after {
        content: '';
        position: absolute;
        background: #231769;
        opacity: .65;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0
    }

.banner-inner {
    padding-top: 100px;
    position: relative;
    z-index: 1
}

.about-content {
    margin-right: 50px
}

    .about-content h3 {
        margin-bottom: 50px
    }

.about-image {
    position: relative;
    margin-left: -35px
}

    .about-image img {
        border-radius: 5px
    }

    .about-image:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        z-index: 1
    }

.contact-form .form-group label {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: poppins,sans-serif;
    margin-bottom: 15px
}

.contact-form .form-group input, .contact-form .form-group textarea {
    background: rgba(255,255,255,.16)
}

    .contact-form .form-group input::placeholder, .contact-form .form-group textarea::placeholder {
        color: #b4b3c5
    }

.contact-form textarea {
    min-height: 180px
}

.contact-form .btn-bg {
    min-width: 197px;
    margin-top: 30px
}

.widget {
    margin-bottom: 50px
}

    .widget .title {
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 600
    }

    .widget:last-child {
        margin-bottom: 0
    }

.search-widget {
    position: relative
}

    .search-widget input {
        background: rgba(255,255,255,.16);
        width: 100%;
        padding: 16px 20px;
        color: #fff;
        border-radius: 5px
    }

        .search-widget input::placeholder {
            color: #b4b3c5
        }

    .search-widget button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        font-size: 18px;
        width: 60px;
        color: #fff;
        cursor: pointer;
        background: #fdc300;
        border-radius: 0 5px 5px 0
    }

.post-widget .post-content .date {
    margin-bottom: 3px;
    color: #fdc300
}

.post-widget .post-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-bottom: 25px
}

    .post-widget .post-item:last-child {
        margin-bottom: 0
    }

.post-widget .post-img {
    width: 86px;
    flex: none;
    margin-right: 25px;
    position: relative
}

    .post-widget .post-img:after {
        content: '';
        position: absolute;
        background: #2a1e70;
        opacity: .4;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0
    }

    .post-widget .post-img img {
        width: 86px;
        height: 86px;
        border-radius: 5px
    }

.post-widget .post-content h5 {
    font-size: 16px;
    font-weight: 600
}

.category-widget li a {
    color: #b4b3c5;
    margin-bottom: 5px;
    display: inline-block
}

.category-widget a:hover {
    color: #fdc300
}

.category-widget li a:before {
    content: "\f101";
    font-family: FontAwesome;
    color: #fdc300;
    margin-right: 15px
}

.tag-widget a {
    color: #b4b3c5;
    font-size: 14px;
    padding: 5px 15px;
    margin: 0 10px 15px 0;
    background: #2a1e70;
    display: inline-block
}

    .tag-widget a:hover {
        color: #fdc300
    }

.properties-pazination li {
    display: inline-block
}

    .properties-pazination li a {
        color: #fff;
        display: block;
        text-align: center;
        height: 25px;
        width: 25px;
        line-height: 24px
    }

    .properties-pazination li:first-child a, .properties-pazination li:last-child a {
        background: #2a1e70;
        font-size: 10px
    }

    .properties-pazination li.active a, .properties-pazination li a:hover {
        color: #fff;
        background: #fdc300
    }

.ticket-info-wrap h3 {
    margin-bottom: 50px
}

.ticket-form .form-group {
    margin-bottom: 30px
}

.ticket-form .btn-bg {
    margin-top: 25px
}

.single-blog-post-inner {
    padding-top: 50px
}

    .single-blog-post-inner h5 {
        margin-bottom: 25px
    }

    .single-blog-post-inner .post-admin {
        margin-bottom: 45px;
        overflow: hidden
    }

.single-blog-post-date {
    float: left;
    margin-right: 30px;
    color: #fdc300
}

    .single-blog-post-date a {
        margin-bottom: 15px;
        display: inline-block
    }

.single-blog-post-inner .admin-by a {
    color: #fdc300
}

.post-content p {
    margin-bottom: 30px
}

.latest-comments {
    padding: 40px 0 33px;
    margin-bottom: 40px
}

    .latest-comments .comments-avatar {
        float: left
    }

        .latest-comments .comments-avatar img {
            width: 160px;
            margin-right: 20px;
            border-radius: 50%
        }

    .latest-comments .child .comments-avatar img {
        width: 120px
    }

    .latest-comments .comments-box {
        padding: 30px 0;
        overflow: hidden
    }

    .latest-comments li:first-child .comments-box {
        border-top: 0;
        padding: 0
    }

    .latest-comments li:last-child .comments-box {
        border-bottom: 0;
        padding-bottom: 0
    }

    .latest-comments li.child {
        margin-left: 100px
    }

    .latest-comments .child .comments-box {
        padding-top: 25px
    }

    .latest-comments .comments-text {
        overflow: hidden;
        padding-top: 4px
    }

        .latest-comments .comments-text p {
            margin-bottom: 15px
        }

    .latest-comments .avatar-name {
        overflow: hidden;
        display: inline-block;
        margin-right: 20px;
        font-weight: 400;
        color: #fff
    }

    .latest-comments .avatar-date {
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        color: #fdc300
    }

    .latest-comments .comment-reply {
        display: inline-block;
        color: #fdc300;
        background: #2a1e70;
        padding: 0 19px
    }

.comment-form .form-group label {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: poppins,sans-serif;
    margin-bottom: 15px
}

.comment-form .form-group input, .comment-form .form-group textarea {
    background: rgba(255,255,255,.16)
}

    .comment-form .form-group input::placeholder, .comment-form .form-group textarea::placeholder {
        color: #b4b3c5
    }

.comment-form textarea {
    min-height: 180px
}

.comment-form .btn-bg {
    min-width: 197px;
    margin-top: 30px
}

.how-to-attend-title {
    margin-bottom: 60px
}

.feature-block-two {
    margin-bottom: 35px
}

    .feature-block-two .feature-icon {
        margin-right: 30px;
        margin-top: -18px
    }

        .feature-block-two .feature-icon i {
            font-size: 33px;
            height: 66px;
            width: 66px;
            line-height: 66px;
            margin-bottom: 0
        }

        .feature-block-two .feature-icon span {
            font-size: 80px;
            font-family: poppins,sans-serif;
            line-height: 90px;
            font-weight: 700;
            color: rgba(255,255,255,.05);
            display: block;
            text-align: center
        }

.ticket-number-box.ticket .nice-select .option:hover, .ticket-number-box.ticket .nice-select .option.focus, .ticket-number-box.ticket .nice-select .option.selected.focus {
    background-color: #2a1e70
}
